html, body {
  margin: 0;
  padding-top:
}
*{
    text-align:center;
}
.header{
  opacity:0.8;
  position:fixed;
  width:100%;
  background-color:#000211;
  z-index:1000;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
li{
  color:#FFF;
  display:inline-block;
  padding:10px 60px 10px 60px;
  font-size:15;
}
a{ 
    font-size:12;
    color:#FFFFFF;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
li:hover {
  text-decoration: underline;
}
h1{
    font-family:Arial;
    font-size:35pt;
    color:#FFFFFF;
}
h2{
  font-family: 'Oswald', sans-serif;
  font-size:35pt;
  color:#FFFFFF;
  text-transform: uppercase;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
p{
  font-family: Arial,sans-serif;
  font-size:28pt;
  color:#FFFFFF;
  text-transform:lowercase;
  padding: 20px 20px 20px 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
#motivation1{
  background-image:url("study.jpg");
}
#motivation2{
  background-image:url("street.jpg");
}
#motivation3{
  background-image:url("ali.jpg");
}
#last{
  background-image:url("arnold.jpg");
}
#motivation1,#motivation2,#motivation3,#last{
  background-position: center center;
  background-repeat:no-repeat;
  background-size: cover;
}
.main{
  padding-top:500px;
  padding-bottom:500px;
  background-color:#000000;
  color:#FFF;
}
.supporting{
  text-align:center;
  padding:350px 0px 50px 0px;
}
.break{
  background-color:#000000;
  padding:100px 0px 300px 0px;
  width:100%;
}
.cont{
  padding: 20px 20px 20px 20px;
}
.button{
  border-radius:9%;
  font-family:	Times New Roman Bold Italic;
  font-size:15pt;
  background-color:#d6a000;
  padding: 10px 10px 10px 10px;
  display:inline;
}
.button:hover{
  background:#f2b721;
}
